:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #aaa;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
}
.section {
  border: thin solid gray;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.section-row {
  display: flex;
  flex-direction: row;
}
.section-row > button {
  width: 10rem;
}
.list {
  width: 100%;
  overflow-y: scroll;
  padding: 1rem;
}
.conversation {
  height: 20rem;
}
.chatMessage {
    display: flex;
    margin: 4px 0;
}
.chatMessage:nth-child(even) {
  background-color: #efefef;
}
.chatMessage > span {
    flex-grow: 1;
    margin: 0 1rem;
    text-align: start;
}
.participantList {
  height: 4rem;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  width: 50vw;
}
.participant {
  padding: 0.5rem;
}
.participant > button {
  float: right;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    background-color: #fff884;
}
.promptInput {
  height: 6rem;
}
.fullwidth {
  width: 100%;
}
.colorSample {
  top: 0.5rem;
  margin-left: 1rem;
  display: inline-flex;
  width: 6rem;
  height: 2rem;
  position: relative;
}
.bouncing-loader {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.bouncing-loader > div {
  width: 12px;
  height: 12px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-12px);
  }
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}